/* Colors */
@define-color background #181825;
@define-color foreground #ffffff;
/* @define-color cursor #c5c5c5; */
@define-color color6 #485559;

@define-color active @color6;

* {
    font-size: 18px;
    font-family: "JetBrainsMonoNL Nerd Font Mono";
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-weight: bold;
    text-shadow: none;
    color: @foreground;
}

#waybar {
    background-color: #181825;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    border-radius: 4px;
    margin: 4px;
    padding: 0px 0px 0px 8px;
    color: @foreground;
}

#custom-radial-progress-bg {
    color: rgba(255, 255, 255, 0.2);
    margin: -46px 0px 0px 0px;
    font-size: 48;
}

#cpu,
#memory,
#pulseaudio.volume {
    color: rgba(255, 255, 255, 1);
    margin: -4px 0px 0px 0px;
    font-size: 48;
}

#custom-memory-icon,
#custom-cpu-icon {
    background-color: rgba(0, 0, 0, 0);
    margin: -46px 0px 0px 0px;
    font-size: 10;
}

#pulseaudio {
    margin: -46px 0px 0px 0px;
    font-size: 18;
}

#privacy {
    border-radius: 4px;
    margin: 4px 4px;
    padding: 4px 8px;
    background-color: #1e1e2e;
}

menu,
tooltip {
    border-radius: 8px;
    padding: 16px;
    background-color: #131822;
}

menu label,
tooltip label {
    font-size: 16px;
    background-color: #131822;
}

#tray {
    margin: 8px 4px;
    background-color: rgba(36, 36, 52, 1);
    border-radius: 4px;
    border-width: 0px;
}

#network.icon,
#idle_inhibitor,
#custom-power,
#custom-launcher,
#custom-lock {
    font-size: 28px;
}

/* red: f1908e   c4a7a6 */
/* pink: ec8fac */
/* orange: e2a059 */
/* lime: b3b658 */
/* green: 97bf6c */
/* turquoise: 61c798 */
/* cyan: 35c7c4    */
/* blue: 56bcee    9bb4c2  */
/* blurple: 8aaefb */
/* purple: b5a0f2 */
/* pinkrple: e291c7 */

#tray > .needs-attention {
    animation-name: blink-active;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.discharging.warning {
    animation-name: blink-yellow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.discharging.critical {
    animation-name: blink-red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
    animation-name: blink-active;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-active {
    to {
        background-color: @active;
        color: @foreground;
    }
}

@keyframes blink-red {
    to {
        background-color: #c64d4f;
        color: @foreground;
    }
}

@keyframes blink-yellow {
    to {
        background-color: #cf9022;
        color: @foreground;
    }
}
